h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}
h1 {
    font-size: 1.5em;
    line-height: 1.4em;
}
h2 {
    font-size: 1.43em;
}
h3 {
    font-size: 1.25em;
}
h4, h5, h6 {
    font-size: 1em;
    margin: 1em 0;
}

body.watch h1 {
    font-size: 1.1875rem;
}
body.watch h2 {
    font-size: 1.125rem;
}
body.watch h3 {
    font-size: 1.0625rem;
}
body.watch :matches(h4, h5, h6) {
    font-size: 1rem;
}

h1.title {
    font-weight: bold;
    font-size: 1.95552em;
    line-height: 1.2141em;
    margin-top: 0;
    margin-bottom: 0.5em;
}

.subhead {
    font-weight: normal;
}

.title, .subhead, .metadata {
    text-align: start;
    hyphens: manual;
    display: none;
}

:nth-child(1 of .page) :matches(.title, .subhead, .metadata) {
    display: block;
}

.subhead {
    color: rgba(27, 27, 27, 0.65);
    font-size: 1.46664em;
    margin-top: -0.35em;
    line-height: 1.27275em;
}

.metadata {
    margin-top: -0.75em;
    margin-bottom: 1.45em;
}
body.watch .metadata {
    line-height: 1.3em;
}

.metadata * {
    font-size: 1em !important;
    font-weight: normal !important;
    font-style: normal !important;
    display: inline !important;
    margin: 0;
}

.metadata :matches(.byline, .date) {
    display: inline !important;
}

.metadata :matches(ul, ol, li) {
    list-style-type: none;
    -webkit-padding-start: 0;
}

.title + .metadata {
    margin-top: -0.75em;
}

.subhead + .metadata {
    margin-top: -0.7em;
}

.page {
    text-align: start;
    word-wrap: break-word;
}
body.watch .page {
    hyphens: auto;
}

.page.rtl {
    direction: rtl;
}

a {
    text-decoration: none;
}

a[href] {
    color: rgb(65, 110, 210);
}

#article {
    text-rendering: optimizeLegibility;
}

#article * {
    /* Scale down anything larger than our view. Max-width maintains aspect ratios on images. */
    max-width: 100%;
}

#article img {
    /* By default, images are centered on their own line. */
    margin: 0.5em auto;
    display: block;
    height: auto;
}

#article img.reader-image-tiny {
    display: inline;
    margin: 0;
}

#article .leading-image, figure, .auxiliary {
    margin-bottom: 1.15em;
}

#article .leading-image img {
    margin: auto;
    display: block;
    clear: both;
}

#article .leading-image .credit {
    margin: 0;
}

#article .leading-image,
#article figure {
    font-size: 0.75em;
    line-height: 1.5em;
}

body.watch #article .leading-image,
body.watch #article figure {
    font-size: 0.8125rem;
}

#article .leading-image :matches(.caption, .credit),
#article figcaption {
    margin-top: 0.8em;
    width: 100%;
}

body.watch #article .leading-image :matches(.caption, .credit),
body.watch #article figcaption {
    margin-top: 4px;
}

body.watch #article figure img {
    margin-bottom: 0;
}

#article figcaption > * {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

#article :matches(.leading-image, figure) p {
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}

#article .leading-image .credit + .caption {
    margin-top: 0.1em;
}

#article .auxiliary {
    display: block;
    clear: both;
    font-size: 0.75em;
    line-height: 1.4em;
    text-align: start;
}

body.watch #article .auxiliary {
    font-size: 0.9em;
}

#article .pullquote {
    font-size: 1.42em;
    line-height: 1.38em;
    font-weight: 300;
    font-style: italic;
}

#article .pullquote:not(.float) {
    margin-top: 1em;
    margin-bottom: 1em;
    -webkit-margin-start: 1em;
    max-width: calc(100% - 1em);
}

#article .auxiliary > *:not(img) {
    -webkit-margin-start: 0;
}

#article .auxiliary.float img, #article .auxiliary > *:first-child:not(img) {
    margin: 0;
}

/* If the element immediately after an image is inline, it might bump up against the image. */
#article .auxiliary img + * {
    display: block;
}

#article .auxiliary figcaption {
    font-size: 100%;
}

#article .auxiliary * {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

body:not(.watch) #article .float.left {
    float: left;
    margin-right: 20px;
}

body:not(.watch) #article .float.right {
    float: right;
    margin-left: 20px;
}

body.watch #article .float {
    width: auto !important;
}

#article .clear {
    clear: both;
}

#article ul.list-style-type-none,
#article ol.list-style-type-none,
#article .list-style-type-none > li {
    list-style-type: none;
    -webkit-padding-start: 0;
}

#article .page .list-style-type-none.code-block code {
    white-space: pre-wrap;
}

#article .page div.scrollable {
    overflow-x: scroll;
    word-wrap: normal;
}

#article .page div.scrollable table {
    max-width: none;
}

#article .leading-image, #article figure, #article .auxiliary:not(.pullquote) {
    font-family: -apple-system-font;
}

#article .leading-image, #article figure, #article .auxiliary, #article .pullquote {
    color: rgba(0, 0, 0, 0.65);
}

figure {
    margin: 0;
}

body:not(.watch) figure:not(.float) {
    margin-top: 1.4em;
    margin-bottom: 1.4em;
}

hr {
    background: rgba(0, 0, 0, 0.2);
    height: 1px;
    border: 0;
}

pre {
    font-size: 0.9em;
    line-height: 1.45em;
}

blockquote, q {
    color: rgba(0, 0, 0, 0.65);
}

blockquote:not(.pullquote) {
    margin-left: 2px;
    margin-right: 6px;
    padding-left: 16px;
}

blockquote:not(.simple):not(.pullquote) {
    border-left: 3px solid rgba(0, 0, 0, 0.1);
}

q.pullquote {
    display: block;
}

.pullquote q::before, .pullquote q::after, q.pullquote::before, q.pullquote::after {
    content: "";
}

/* Collapse excess whitespace. */
.page p > p:empty,
.page div > p:empty,
.page p > div:empty,
.page div > div:empty,
.page p + br,
.page img + br
{
    display: none;
}

.page table {
    font-size: 0.9em;
    text-align: start;
    word-wrap: break-word;
    border-collapse: collapse;
}

.page table td, .page table th {
    padding: 0.25em 0.5em;
    border: 1px solid rgb(216, 216, 216);
}

body.watch .page > * {
    margin-left: 0;
    margin-right: 0;
}

body.watch .page ol {
    padding: 0 0 0 35px;
}

body.watch .page ul {
    padding: 0 0 0 20px;
}

body.watch .page li {
    margin: 0.8em 0;
}

body.watch .page blockquote {
    padding: 0 0 0 8px;
}

.delimiter {
    margin-left: 0.45em;
    margin-right: 0.45em;
    margin-top: 0.07em;
    padding: 0;
}
.metadata.singleline .delimiter::after {
    content: "•";
}
.metadata:not(.singleline) .delimiter {
    content: "";
    display: block !important;
}

.page table th {
    background-color: rgba(0, 0, 0, 0.025);
}

.page sup, .page sub {
    line-height: 1;
    font-size: 0.75em;
}

.hidden {
    display: none;
}

/* Fonts */
.system { font-family: -apple-system-font; }
.watch.system { font: -apple-system-body; }
.athelas { font-family: Athelas; }
.charter { font-family: Charter; }
.georgia { font-family: Georgia; }
.iowan { font-family: 'Iowan Old Style'; }
.palatino { font-family: Palatino; }
.seravek { font-family: Seravek; }
.times { font-family: 'Times New Roman'; }

.hiraginosans { font-family: 'Hiragino Sans'; }
.hiraginokaku { font-family: 'Hiragino Kaku Gothic ProN'; }
.hiraginomincho { font-family: 'Hiragino Mincho ProN'; }
.hiraginomaru { font-family: 'Hiragino Maru Gothic ProN'; }

.pingfangsc { font-family: -apple-system-font; }
.heitisc { font-family: 'Heiti SC'; }
.songtisc { font-family: 'Songti SC'; }
.kaitisc { font-family: 'Kaiti SC'; }
.yuantisc {
    font-family: 'Yuanti SC';
    letter-spacing: 1px;
}
.libiansc { font-family: 'Libian SC'; }
.weibeisc { font-family: 'Weibei SC' }
.yuppysc { font-family: 'Yuppy SC' }


.pingfangtc { font-family: -apple-system-font; }
.heititc { font-family: 'Heiti TC'; }
.songtitc { font-family: 'Songti TC'; }
.kaititc { font-family: 'Kaiti TC'; }
.yuantitc {
    font-family: 'Yuanti TC';
    letter-spacing: 1px;
}
.libiantc { font-family: 'Libian TC'; }
.weibeitc { font-family: 'Weibei TC' }
.yuppytc { font-family: 'Yuppy TC' }

.applesdgothicneo { font-family: 'Apple SD Gothic Neo'; }
.nanumgothic { font-family: 'Nanum Gothic'; }
.nanummyeongjo { font-family: 'Nanum Myeongjo'; }

.khmersangammn { font-family: 'Khmer Sangam MN'; }

.laosangam { font-family: 'LaoSangnam MN'; }

.thonburi { font-family: 'Thonburi'; }

.damascus { font-family: 'Damascus'; }

.kefa { font-family: 'Kefa' }
.arialhebrew { font-family: 'Arial Hebrew' }

.mshtakan { font-family: 'Mshtakan' }

.plantagenetcherokee  { font-family: 'Plantagenet Cherokee' }

.euphemiaucas { font-family: 'Euphemia UCAS' }

.kohinoorbangla { font-family: 'Kohinoor Bangla' }
.banglasangammn { font-family: 'Bangla Sangam MN' }

.gujarati { font-family: 'Gujarati Sangam MN' }
.gurmukhi { font-family: 'Gurmukhi MN' }

.kohinoordevanagari { font-family: 'Kohinoor Devanagari'; }
.itfdevanagari { font-family: 'ITF Devanagari'; }

.kannada { font-family: 'Kannada Sangam MN' }
.malayalam { font-family: 'Malayalam Sangam MN' }
.oriya { font-family: 'Oriya Sangam MN' }
.sinhala { font-family: 'Sinhala Sangam MN' }
.inaimathi { font-family: 'InaiMathi' }
.tamil { font-family: 'Tamil Sangam MN' }

.kohinoortelugu { font-family: 'Kohinoor Telugu' }
.telugu { font-family: 'Telugu Sangam MN' }
.noto { font-family: 'Noto Nastaliq Urdu' }
.geezapro { font-family: 'Geeza Pro' }
.arialunicodems { font-family: 'Arial Unicode MS' }
.arialmt { font-family: 'Arial Rounded MT Bold' }
.tahoma { font-family: 'Tahoma' }

/* Printing and mailing. */
#article.exported {
    font-size: 1.2em;
}

.exported {
    line-height: 1.5em;
}

.exported a[href] {
    text-decoration: underline;
}

#article.exported {
    margin: 0;
    padding: 0;
}

.exported .float {
    float: none;
    margin-top: 1.4em;
    margin-bottom: 1.4em;
}

#article.exported .leading-image,
#article.exported figcaption {
    font-size: 0.75rem;
    color: rgba(0, 0, 0, 0.8);
}

.exported .delimiter::after {
    content: "";
}